<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.springest.donest</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0828AAEC-1C21-4329-B702-C8C19033BC4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC73EC9C-6B51-484D-8E4D-A347C2228278</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EAABD31-F4F1-4092-9556-A725C90117A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0828AAEC-1C21-4329-B702-C8C19033BC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B121BE6-5898-4F7F-A92A-81299B40EC00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0828AAEC-1C21-4329-B702-C8C19033BC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DE47A83-E34B-427C-BD21-1537C90630D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B121BE6-5898-4F7F-A92A-81299B40EC00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D15C43F-0CA6-4A0A-86A4-1B71CD8BD9BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DE47A83-E34B-427C-BD21-1537C90630D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E92F4F33-193C-4101-B6F1-5EA74BA097A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D15C43F-0CA6-4A0A-86A4-1B71CD8BD9BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE27A064-6716-49E8-A178-EEFC59505E5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EAABD31-F4F1-4092-9556-A725C90117A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Iris Bune</string>
	<key>description</key>
	<string>Springest Dones</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Donest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dst</string>
				<key>subtext</key>
				<string>Record a done: just type it and hit enter! No werid characters please</string>
				<key>text</key>
				<string>Donest</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EE27A064-6716-49E8-A178-EEFC59505E5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>done</key>
					<string>{query}</string>
					<key>keyword</key>
					<string>done</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2EAABD31-F4F1-4092-9556-A725C90117A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

/usr/bin/ruby main.rb $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0828AAEC-1C21-4329-B702-C8C19033BC4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Donest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC73EC9C-6B51-484D-8E4D-A347C2228278</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Example: you@springest.com</string>
				<key>text</key>
				<string>Enter your email: {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DE47A83-E34B-427C-BD21-1537C90630D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dst:user</string>
				<key>subtext</key>
				<string>Example: JHE37823hEJE</string>
				<key>text</key>
				<string>Enter your access token: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E92F4F33-193C-4101-B6F1-5EA74BA097A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:token} {query}</string>
				<key>variables</key>
				<dict>
					<key>keyword</key>
					<string>user</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B121BE6-5898-4F7F-A92A-81299B40EC00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D15C43F-0CA6-4A0A-86A4-1B71CD8BD9BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0828AAEC-1C21-4329-B702-C8C19033BC4A</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>2EAABD31-F4F1-4092-9556-A725C90117A5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>5B121BE6-5898-4F7F-A92A-81299B40EC00</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>5DE47A83-E34B-427C-BD21-1537C90630D2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>8D15C43F-0CA6-4A0A-86A4-1B71CD8BD9BC</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>BC73EC9C-6B51-484D-8E4D-A347C2228278</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E92F4F33-193C-4101-B6F1-5EA74BA097A0</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>EE27A064-6716-49E8-A178-EEFC59505E5E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>http://www.springest.com</string>
</dict>
</plist>
